:root {
    --text-color: #000;
    --hover-color: #FF993A;
    --accent-color:#FF463A;
    --hero-bacground: #FFE4CC;
    --popular-cards: #EFEFEF;
    --contact-text-hover: #FFF;
    --footer-bacground: #181818;
    

}

/* font-family: "Inter", sans-serif; */
/* font-family: "Oswald", sans-serif; */
/* font-family: "Nunito", sans-serif; */
/* font-family: "Raleway", sans-serif; */

.container {
    width: 1640px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    /* outline: solid greenyellow ; */
}







