:root {
  --accent-color: blueviolet;
  --text-color: #000;
  --title-color: #ff463a;
  --background-hero: blueviolet;
  --popular-card: #efefef;
  --footer-deck: #fff;
  --footer-background: #181818;
}
/* font-family: "Inter", sans-serif; */
/* font-family: "Oswald", sans-serif; */
/* font-family: "Nunito", sans-serif; */
/* font-family: "Raleway", sans-serif; */
.conteiner{
  width: 1640px;
padding-left: 10px;
padding-right: 10px;
margin-left: auto;
margin-right: auto;
outline: 1px solid red;
}
.header{
  padding-bottom: 20px;
  padding-top: 20px;
  
}


.header-box{
  display: flex;
  align-items: center;
}

.header-logo{
  display: flex;
  gap: 37px;
  align-items: center;
  margin-right: 188px;
}

.logo-text {
  color: var(--accent-color);
  font-family: "Oswald";
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}





.header-list{
  display: flex;
  gap: 65px;

}


.header-link {
  color: var(--text-color);
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color); 
}

/* hero */

.hero {
  background-color: var(--background-hero);
}

.hero-box{
  display: flex;
  gap: 397px;
  align-items: center;
}

.hero-text {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
 margin-bottom: 20px;
 
}

.hero-title {
  color: var(--title-color);
  font-family: "Nunito";
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  width: 273px;
  margin-bottom: 45px;
  
}

.hero-deck {
  color: var(--text-color);
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  width: 527px;
  margin-bottom: 45px;
  
  
 
}

.hero-btn {
  cursor: pointer;
  color: var(--footer-deck);
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  background: var(--title-color);
  border: none;
  padding: 15px 30px 15px 30px;
}

/*секція популярні морозива*/


.popular{
  padding-top: 60px;
  padding-bottom: 60px;
}

.popular-list{
  display: flex;
  gap: 20px;
}


.popular-item {
  border-radius: 10px;
  background: var(--popular-card);
 display: flex;
 align-items: center;
 gap: 117px;
 padding: 40px 140px 40px 70px;
}

.popular-title {
 
  color: var(--title-color);
  font-family: "Nunito";
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
  
}

.popular-text {
  color: var(--text-color);
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 45px;
  
}

.popular-btn {
  cursor: pointer;
  color: #000;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid var(--text-color);
  padding: 15px 30px;
}

/* секція топ */
.top {
  background-color: var(--background-hero);
  padding-top: 60px;
  padding-bottom: 100px;
}
.top-title {
  
  color: var(--title-color);
  text-align: center;
  font-family: "Nunito";
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}

.top-text {
  text-align: center;
  color: var(--text-color);
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  width: 790px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 68px;
  
}

.top-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* contact */

.contact{
  padding-top: 100px;
  padding-bottom: 100px;

}

.contact-list{
  display: flex;
  gap: 20px;
  
}


.contact-item {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.25);
  padding-top: 30px;
  padding-bottom: 53px;
  
}

.contact-item:hover {
  background: var(--title-color);
  .contact-link,
  .contact-address,
  .contact-title {
    color: var(--footer-deck);
  }
  .contact-ukon{background-color: rgb(120, 4, 167) ;}
  .contact-img{fill:  #efefef;}
}

.contact-ukon{
  width: 100px;
height: 100px;
background-color: #efefef;
border-radius: 50%;


}

.contact-img {
  width: 50px;
  height: 50px;
  fill: rgb(120, 4, 167);
}

.contact-title {
  color: var(--title-color);
  text-align: center;
  font-family: "Nunito";
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
 
}

.contact-link {
  color: var(--text-color);
  text-align: center;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  display: block;
}

.contic {
  width: 458px;
}

.contact-address {
  color: var(--text-color);
  text-align: center;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.footer {
  background-color: var(--footer-background);
}



.footer-text {
  color: var(--accent-color);
  font-family: "Oswald";
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.footer-img {
  width: 80px;
  height: 80px;
}

.footer-deck {
  color: var(--footer-deck);
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}
