:root {
    --text-color: #000;
    --hover-color: #FF993A;
    --accent-color:#FF463A;
    --hero-bacground: #FFE4CC;
    --popular-cards: #EFEFEF;
    --contact-text-hover: #FFF;
    --footer-bacground: #181818;
    

}

/* font-family: "Inter", sans-serif; */
/* font-family: "Oswald", sans-serif; */
/* font-family: "Nunito", sans-serif; */
/* font-family: "Raleway", sans-serif; */

.container {
    width: 1640px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    /* outline: solid greenyellow ; */
}



/* секція хедер */

.header {
    padding-top: 20px;
    padding-bottom: 20px;
}








.logo-text {
    color: var(--hover-color);
font-family: "Oswald", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: normal;
}



.header-link {
    color: var(--text-color);
font-family: "Raleway", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: normal;
}

.header-link:hover,
.header-link:focus {
    color: var(--hover-color);
}

/* секція герой */

.hero {
    padding-top: 134px;
    padding-bottom: 135px;
    background-color: var(--hero-bacground);
}






.hero-text {
    color: var(--hover-color);
font-family: "Raleway", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: normal;

}

.hero-title {
color: var(--accent-color);
font-family: "Nunito", sans-serif;
font-size: 48px;
font-weight: 700;
line-height: normal;

}

.hero-deck {
color: var(--text-color);
font-family: "Nunito", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: normal;

}

.hero-btn {
background-color: var(--accent-color);
color: var(--contact-text-hover);
font-family:"Nunito", sans-serif;
font-size: 20px;
font-weight: 700;
line-height: normal;
border-radius: 5px;
}

/* секція популярні морозива */

.popular {
    padding-top: 60px;
    padding-bottom: 60px;
}



.popular-item {
    background-color: var(--popular-cards);
}



.popular-title {
    color: var(--accent-color);
font-family: "Nunito", sans-serif;
font-size: 36px;
font-weight: 700;
line-height: normal;
}

.popular-text {
    color: var(--text-color);
font-family: "Raleway", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: normal;
}

.popular-btn {
border-radius: 5px;
border: 1px solid var(--text-color);
color: var(--text-color);
font-family: "Raleway", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: normal;
}

/* секція top ice-cream */

.top {
    padding-top: 60px;
    padding-bottom: 100px;
    text-align: center;
    background-color: var(--hero-bacground);
}

.top-title {
    color: var(--accent-color);
font-family: "Nunito", sans-serif;
font-size: 48px;
font-weight: 700;
line-height: normal;
}

.top-text {
color: var(--text-color);
font-family: "Raleway", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: normal;
}




/* секція контакти */

.contact {
    padding-top: 100px;
    padding-bottom: 100px;
}



.contact-item {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.25);
}



.contact-title {
    color: var(--accent-color);
text-align: center;
font-family: Nunito;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}



.contact-link {

    color: var(--text-color);
font-family: "Raleway", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: normal;
}

.contact-address {
color: var(--text-color);
font-family: "Raleway", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: normal;
}





/* footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bacground);
}






.footer-text {
color: var(--hover-color);
font-family: "Oswald", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: normal;
}

.footer-deck {
color: var(--contact-text-hover);
font-family: "Inter", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: normal;
}



